*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    opacity: 0;
    width: 100%;
    text-align: center;
}
header h1{
    font-size: 30px;
}
.principal.active header{
    opacity: 1;
    transition-delay: 0.5s;
}
header img{
    width: 60%;
    border: 1px solid white;
    border-radius: 25%;
    margin-bottom: 0.5em;
}
input{
    height: 30px;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
}
textarea{
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
} 
header a, #home a, #cont a{
    text-decoration: none;
    color: white;
    display: flex;
}
header a:hover, #home a:hover, #cont a:hover{
    color: grey;
}
header a, #home a, #cont a >*{
    width: 20%;
}

.principal{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.principal .list, .principal .up{
    position: fixed;
    left: 95%;
    z-index: 2;
    color: white;
    background-color: rgb(107, 177, 235);
    padding: 1%;
    border-radius: 50%;
    cursor: pointer;
}
.principal .list{
    margin-top: 2%;
}
.principal .up{
    margin-bottom: 2%;
    bottom: 0;
}
.principal #btn{
    visibility: visible;
}
.principal.active #btn{
    visibility: hidden;
}
.principal #btn2{
    visibility: hidden;
}
.principal.active #btn2{
    visibility: visible;
}

.sidebar{
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1%;
    color: white;
    background-color: rgb(107, 177, 235);
    transition: all 0.5s ease;
}
.principal.active .sidebar{
    width: 240px;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 5px;
    line-height: 50px;
    border-top: 1px solid white;
}
.sidebar ul li:last-child{
    border-bottom: 1px solid white;
}
.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    background: #ffffff;
    box-shadow: 0 5px 10px black;
    left: 122px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    color: grey;
    display: block;
    pointer-events: none;
}
.principal.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}
.sidebar ul li a :hover{
    color: grey;
}
.sidebar ul a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
}
.sidebar .link_name{
    opacity: 0;
    padding: 7%;
    font-size: 20px;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.5s ease;
}
.principal.active .link_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}
.sidebar .icone{
    font-size: 30px;
    margin-top: 0.5em;
    display: flex;
    padding-left: 5%;
}
.sidebar .icone >*{
    width: 100%;
}

.droite{
    width: 100%;
    padding-left: 80px;
    height: 100%;
    transition: all 0.5s ease;
}
.principal.active .droite{
    padding-left: 240px;
    transition: all 0.5s ease;
}
#home{
    background-image: url(../IMG/work-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#home button{
    background-color: rgb(107, 177, 235);
    border: none;
    border-radius: 5px;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
}
#home button a{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(107, 177, 235);
}
.text{
    text-align: center;
    display: grid;
    gap: 1em;
    font-size: 30px;
    padding-top: 20%;
}
.text h1{
    color: grey;
}
.text span{
    color: rgb(107, 177, 235);
}
.text p{
    color: grey;
}

#about{
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
#about p{
    line-height: 25px;
}
.G1{
    color: rgb(107, 177, 235);
    border-bottom: 1px solid rgb(107, 177, 235);
}
.ab1{
    display: flex;
    gap: 1em;
}
.ab1 img{
    height: 300px;
}
.ab1_1{
    height: 60%;
    display: grid;
    gap: 1em;
}
.ab1_1 h1{
    color: grey;
}
.ab1_1_1{
    display: flex;
    gap: 1em;
}
.ab1_1_1 .ab1_1_1_1{
    display: grid;
    gap: 1em;
}
.skill{
    display: flex;
    gap: 1em;
}
.skill >*{
    width: 50%;
    display: grid;
    gap: 0.5em;
    text-align: justify;
    color: grey;
}
.progress{
    background-color: grey;
    height: 10px;
}
.progress .progress_bar1{
    background-color: rgb(107, 177, 235);
    width: 100%;
    height: 10px;
}
.progress .progress_bar2{
    background-color: rgb(107, 177, 235);
    width: 80%;
    height: 10px;
}
.progress .progress_bar3{
    background-color: rgb(107, 177, 235);
    width: 60%;
    height: 10px;
}
.progress .progress_bar4{
    background-color: rgb(107, 177, 235);
    width: 50%;
    height: 10px;
}
.progress .progress_bar5{
    background-color: rgb(107, 177, 235);
    width: 70%;
    height: 10px;
}
.progress .progress_bar6{
    background-color: rgb(107, 177, 235);
    width: 100%;
    height: 10px;
}

#resum{
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.re_1{
    display: flex;
    gap: 2em;
    padding-left: 1%;
}
.re_1 div{
    display: grid;
    gap: 1em;
}
.re_1 h1{
    color: grey;
}
.re_1 h3{
    color: rgb(107, 177, 235);
}
.re_1 span{
    background: rgba(107, 177, 235, 0.7);
    color: white;
    width: 20%;
    text-align: center;
    
}
.educ div{
    gap: 0.5em;
    padding-left: 10%;
    border-left: 1px solid rgb(107, 177, 235);
}
.pro div{
    gap: 0.5em;
    padding-left: 10%;
    border-left: 1px solid rgb(107, 177, 235);
}

#port{
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.btn{
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}
.btn ul{
    list-style: none;
    display: flex;
    border: 1px solid rgb(107, 177, 235);
    border-radius: 10px;
}
.btn ul li{
    width: 50%;
    border-right: 1px solid rgb(107, 177, 235);
    cursor: pointer;
}
.btn ul li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn ul li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn ul li:hover{
    background-color: rgb(107, 177, 235);
    color: grey;
}
.image{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    transition: all 0.5s ease;
}
.principal.active .image{
    padding-left: 7%;
    transition: all 0.5s ease;
}
.image div{
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid rgb(107, 177, 235);
}
.image div #P1{
    display: grid;
    justify-content: center;
    padding-top: 30%;
    font-size: 100px;
    visibility: hidden;
}
.image div:hover #P1{
    visibility: visible;
}
.image div #P1 a{
    text-decoration: none;
    color: grey;
}
.image .tootip{
    padding: 2%;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 5px 10px black;
    top: 50%;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}
.image div:hover .tootip, .image div:focus .tootip{
    transition: all 0.5s ease;
    opacity: 1;
}
.I1{
    background-image: url(../IMG/camera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I1:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/camera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I2{
    background-image: url(../IMG/camera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I2:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/camera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I3{
    background-image: url(../IMG/ill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I3:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/ill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I4{
    background-image: url(../IMG/camera.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.I4:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/camera.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.I5{
    background-image: url(../IMG/web.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.I5:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/web.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.I6{
    background-image: url(../IMG/web2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.I6:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/web2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.I7{
    background-image: url(../IMG/ill2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I7:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/ill2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I8{
    background-image: url(../IMG/ill3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I8:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/ill3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I9{
    background-image: url(../IMG/web3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.I9:hover{
    background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/web3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#serv{
    padding: 2%;
    display: grid;
    gap: 2em;
}
.service{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    transition: all 0.5s ease;
}
.principal.active .service{
    padding-left: 7%;
    transition: all 0.5s ease;
}
.service div{
    width: 300px;
    height: 300px;
    border: 1px solid rgb(107, 177, 235);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3%;
    text-align: center;
    color: grey;
    margin: auto;
}
.service i{
    font-size: 30px;
    background-color: rgb(107, 177, 235);
    color: white;
    padding: 2%;
}

#cont{
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2%;
    width: 100%;
    height: 100vh;
}
.haut{
    margin: auto;
    max-width: 100%;
    min-width: 60%;
}
.haut form{
    margin: auto;
    display: grid;
    gap: 0.5em;
}
.haut form div:first-child{
    display: flex;
    gap: 2%;
}
.haut form div:first-child >*{
    width: 49%;
    height: 30px;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
}
.haut form div:last-child{
    display: grid;
    gap: 0.5em;
}
.haut form >*{
    width: 100%;
}
.haut button{
    background-color: rgb(107, 177, 235);
    color: grey;
    padding:0.5%;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
}
.haut button:hover{
    color: white;
    cursor: pointer;
}
.bas{
    width: 80%;
    height: 170px;
    text-align: center;
    color: white;
    margin: auto;
}
.wrapper{
    position: relative;
}
.container{
    height:100%;
    width: 100%;
    display: flex;
    overflow: scroll;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}
.arrow{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    animation: dis infinite 1s alternate;
}
@keyframes dis {
    100%{
        opacity: 1;
    }
}
#arrow-prev{
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}
#arrow-next{
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}
.slide{
    width: 600px;
    height: 170px;
    flex: 1 0 100%;
    padding: 5%;
    display: grid;
}
.slide:nth-child(1){
    background: linear-gradient(rgba(107, 177, 235, 0.5), rgba(107, 177, 235, 0.5)), url(../IMG/camera.jpg);
    background-size: cover;
}
.slide:nth-child(2){
    background: linear-gradient(rgba(107, 177, 235, 0.5), rgba(107, 177, 235, 0.5)), url(../IMG/ill.jpg);
    background-size: cover;
}
.slide:nth-child(3){
    background: linear-gradient(rgba(107, 177, 235, 0.5), rgba(107, 177, 235, 0.5)), url(../IMG/ill2.jpg);
    background-size: cover;
}
.bas i{
    font-size: 30px;
}
.bas .icone{
    display: flex;
    padding-left: 11%;
}
.bas .icone >*{
    width: 60%;
}

/*@media screen and (max-width:999px){
    .principal.active .droite{
        padding-left: 80px;
        overflow: hidden;
    }
    #home,#cont{
        height: 80%;
    }
    .ab1{
        flex-direction: column;
    }
    .ab1 img{
        padding-left: 25%;
        padding-right: 25%;
    }
    .skill{
        flex-direction: column;
    }
    .skill >*{
        width: 90%;
        padding-left: 20%;
        padding-right: 15%;
    }
    .re_1{
        flex-direction: column;
    }
}
@media screen and (max-width:530px) {
    .sidebar{
        left: -80px;
    }
    .droite{
        padding-left: 0%;
    }
    .principal.active .sidebar{
        left: 0;
    } 
    .principal.active .droite{
        padding-left: 0;
    }
    .principal .list, .principal .up{
        left: 90%;
    }
    .text h1{
        font-size: 35px;
    }
    .image,.service{
        padding-left: 1%;
    }
    .service div{
        width: 270px;
        height: 270px;
    }   
}*/
@media screen and (max-width:999px){
    .list,.sidebar header{
        display: none;
    }
    .sidebar{
        position: relative;
        width: 100%;
        height: 200px;
    }
    .sidebar ul{
        margin: 0%;
        padding-top: 2%;
        padding-bottom: 2%;
        display: grid;
        gap: 2em;
        height: 100%;
        width: 100%;
    }
    .sidebar ul div{
        display: flex;
        text-align: center;
        width: 100%;
    }
    .sidebar ul li{
        margin: 0;
        line-height: 0;
        width: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .sidebar ul li:last-child{
        border-bottom: none;
    }
    .sidebar span{
        display: none;
    }
    .sidebar i{
        border: 1px solid white;
        background-color: white;
        border-radius: 50%;
        height: 25px;
        font-size: 15px;
        color: rgb(107, 177, 235);
    }
    .sidebar ul li:hover .tooltip{
        top: 0;
    }
    .sidebar ul li .tooltip{
        position: relative;
        transform: none;
        width: 100%;
        left: 0;
        line-height: 0;
        opacity: 1;
        color: white;
    }
    .droite{
        padding-left: 0;
    }
    #home,#cont{
        max-height: calc(100% - 200px);
        min-height: 500px;
    }
    .ab1{
        flex-direction: column;
    }
    .ab1 img{
        padding-left: 35%;
        padding-right: 35%;
    }
    .skill{
        flex-direction: column;
    }
    .skill >*{
        width: 90%;
        padding-left: 20%;
        padding-right: 15%;
    }
    .image,.service{
        padding-left: 1%;
    }
    .re_1{
        flex-direction: column;
    }
    .image div:hover .tootip, .image div:focus .tooltip{
        opacity: 0;
    }
    .image div #P1{
        visibility: visible;
    }
    .I1{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/camera.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I2{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/camera2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I3{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/ill.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I4{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/camera.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I5{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/web.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I6{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/web2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I7{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/ill2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I8{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/ill3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .I9{
        background: linear-gradient(rgba(107, 177, 235, 0.7), rgba(107, 177, 235, 0.7)), url(../IMG/web3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width:530px) {
    .ab1 img{
        padding-left: 25%;
        padding-right: 25%;
    }
    .text h1{
        font-size: 35px;
    }
    .service div{
        width: 270px;
        height: 270px;
    }  
    .principal .up{
        left: 92.5%;
    } 
}
