*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    padding: 2%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.principal{
    display: flex;
    gap: 1em;
    justify-content:center ;
}
img{
    width: 800px;
    height: 500px;
}
h1{
    color: rgb(107, 177, 235);
    border-bottom: 1px solid rgb(107, 177, 235);
}

.img{
    position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: grey;
}
.img .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.img .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;   
}
.img .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.img .slide .info{
    height: 100%;
    position: absolute;
    background: rgba(24, 25, 26, 0.5);
    top: 0;
    padding: 15px 30px;
}
.img .slide .info h2{
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
.img .slide .info p{
    color: white;
    background: rgba(124, 202, 226, 0.5);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.img .nav{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.img .nav .btn{
    background: gray;
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.img .nav .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.cat{
    min-width: 25%;
    padding: 2%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 1px white solid;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(7, 7, 7, 0.25);
}
.cat h2{
    color: rgb(107, 177, 235);
    border-bottom: 1px solid rgb(107, 177, 235);
}
.cat div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer{
    position: relative;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(107, 177, 235);
}
@media (max-width:820px){
    .principal{
        flex-direction: column;
        gap: 2em;
    }
    .img{
        width: 600px;
        height: 375px;
    }
    img{
        width: 600px;
        height: 375px;
    }
    .img .slide .info{
        padding: 10px 25px;
    }
    .img .slide .info h2{
        font-size: 35px;
    }
    .img .slide .info p{
        width: 70%;
        font-size: 15px;
    }
    .img .nav{
        bottom: 25px;
    }
    .img .nav .btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
    .cat{
        width: 600px;
    }
}
@media (max-width:620px){
    .img{
        width: 400px;
        height: 250px;
    }
    .cat{
        width: 400px;
    }
    img{
        width: 400px;
        height: 250px;
    }
    .img .slide .info{
        padding: 10px 20px;
    }
    .img .slide .info h2{
        font-size: 30px;
    }
    .img .slide .info p{
        width: 80%;
        font-size: 13px;
    }
    .img .nav{
        bottom: 15px;
    }
    .img .nav .btn{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}
@media (max-width:420px){
    .img{
        width: 320px;
        height: 200px;
    }
    .cat{
        width: 320px;
    }
    img{
        width: 320px;
        height: 200px;
    }
    .img .slide .info{
        padding: 5px 10px;
    }
    .img .slide .info h2{
        font-size: 25px;
    }
    .img .slide .info p{
        width: 90%;
        font-size: 11px;
    }
    .img .nav{
        bottom: 10px;
    }
}